h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.search-container {
    height: 100%;
    width: 25%;
}

.current-conditions {
    border: 2px solid black;
}

ul {
    list-style: none;
    font-size: 20px;
}