h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: midnightblue;
    color: white;
    margin-bottom: 20px;
}

.search-container {
    height: 100%;
    width: 25%;
}

.current-conditions {
    border: 2px solid black;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

ul {
    list-style: none;
    font-size: 20px;
}

#day-forecast-header {
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}

.forecast-div {
    margin-left: 25px;
}